<mat-card>
    <mat-card-content>
        <mat-card-title>
            <h1 *ngIf="id">Airport: {{ airport?.name }}</h1>
            <h1 *ngIf="!id">New airport</h1>
        </mat-card-title>
        <app-reactive-form
            [settings]="formSettings"
            (submitted)="updateAirport($event)"
            (cancelled)="back()"
            *ngIf="airport"
            [validators]="airportValidators"
            [dataSource]="airport">
        </app-reactive-form>
    </mat-card-content>
</mat-card>
