<mat-card>
    <mat-card-content>
        <mat-card-title>
            <h1 *ngIf="id">Route: "{{ route?.from + ' - ' + route?.to }}"</h1>
            <h1 *ngIf="!id">New route</h1>
        </mat-card-title>
        <app-reactive-form
            [settings]="formSettings"
            *ngIf="route && formSettings"
            [validators]="routeValidators"
            (submitted)="updateRoute($event)"
            (cancelled)="back()"
            [dataSource]="route">
        </app-reactive-form>
    </mat-card-content>
</mat-card>
