 <div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
     <div class="profile-img"><span class="user-icon">{{ authService.loggedInUser?.email.charAt(0).toUpperCase() }}</span></div>
     <div class="profile-text"><a [matMenuTriggerFor]="sdprofile"> {{ authService.loggedInUser?.email }} <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item (click)="authService.logout()">
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>

</div>
<mat-nav-list appAccordion>
    <app-menu-item [menuItem]="menuitem" *ngFor="let menuitem of menuItems.getMenuitem()"></app-menu-item>
</mat-nav-list>
