.user-profile {
    .profile-img {
        position: relative;
        padding: 50px 0;

        .user-icon {
            position: absolute;
            top: 38%;
            left: 33%;
            font-weight: bold;
            font-size: 23px;
            color: #FFF;
        }
    }
}
