<mat-form-field appearance="fill">
    <mat-label>{{ setting?.label }}</mat-label>
    <mat-select *ngIf="setting?.options" [formControl]="control">
        <mat-option *ngFor="let option of setting.options" [value]="option.value">{{ option.label }}</mat-option>
    </mat-select>
</mat-form-field>
