<mat-label>{{ setting?.label }}</mat-label>
<div>
    <input matInput [matDatepicker]="picker" [formControl]="control" [hidden]="true" (dateChange)="dateChange($event)">
    <mat-hint>{{ control?.value | date: 'YYYY.MM.dd' }}</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</div>
