<section>
    <mat-label>{{ setting?.label }}</mat-label>
    <div class="d-flex">
        <mat-checkbox *ngFor="let option of setting?.options; let i = index" (change)="updateValue()" [name]="fieldName" [(ngModel)]="value[option.value]" [value]="option.value">{{ option?.label }}</mat-checkbox>
    </div>
</section>
