<input type="file" class="file-upload" [accept]="setting?.acceptedTypes" (change)="fileSelected($event.target.files[0])" #fileUpload style="display: none">
<input type="text" matNativeControl [name]="fieldName" [formControl]="control" style="display:none;">
<div class="file-upload">
    <div class="title">{{ fileName || data || "No file uploaded yet."}}</div>
    <div class="image-wrapper" *ngIf="data">
        <img *ngIf="data" [src]="imageUrl()" alt="">
    </div>
    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>
