.file-upload {
    max-width: 240px;
    max-height: 240px;
    min-height: 64px;
    position: relative;
    margin-bottom: 24px;
    .title {
        width: 100%;
        position: absolute;
        left: 0;
        background: rgba(1, 1, 1, 0.2);
        color: #FFFFFF;
        min-height: 46px;
        padding: 10px;
    }
    .upload-btn {
        position: absolute;
        top: 3px;
        right: 3px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
