<app-table-grid
    (paramsChanged)="handlePageEvent($event)"
    [length]="totalResults"
    [displayedColumns]="displayedColumns"
    [itemTemplate]="itemTemplate"
    [dataSource]="dataSource">
    <div title>
        <h1><mat-icon>groups</mat-icon> Pilots</h1>
    </div>
    <ng-template let-item #itemTemplate>

        <ng-container [ngSwitch]="item.column">
            <div *ngSwitchCase="'minimum'">
                <mat-form-field appearance="outline">
                    <mat-label>{{ item.value ?? 'Select minimum' }}</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let minimum of minimumsList" [value]="minimum.id" (onSelectionChange)="changeMinimum(item.row, minimum)">
                            <span>{{ minimum.value }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngSwitchCase="'rank'">
                <mat-form-field appearance="outline">
                    <mat-label>{{ item.value ?? 'Select Rank' }}</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let rank of rankList" [value]="rank.id" (onSelectionChange)="changePilotRank(item.row, rank)">
                            <div class="d-flex align-items-center">
                                <span>{{ rank.name }}</span><span class="rank-icon d-block ml-auto" [style]="'background: url(' + getRankIcon(rank) + ')'"></span>
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <ng-container *ngSwitchDefault>
                {{item.value}}
            </ng-container>
        </ng-container>
    </ng-template>
</app-table-grid>
