<h2 mat-dialog-title>Do you want to change pilot {{ data.property }}?</h2>
<mat-dialog-content class="mat-typography">
    <h3>New value: {{ data.newValue }}</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
