<form class="reactive-form" [formGroup]="formGroup">
    <ng-container *ngIf="(settings | keyvalue).length">
        <div *ngFor="let setting of settings | keyvalue">
            <app-reactive-form-field
                [fieldName]="setting.key"
                [control]="formControls[setting.key]"
                [data]="dataSource[setting.key]"
                [component]="setting.value.type"
                [setting]="setting.value">
            </app-reactive-form-field>
        </div>
    </ng-container>
    <div class="actions">
        <button *ngIf="submitted.observed" [disabled]="formHasErrors" mat-raised-button type="submit" color="primary" (click)="doSubmit()">Submit</button>
        <a *ngIf="cancelled.observed" href="javascript:void(0)" class="ml-2" mat-raised-button type="button" (click)="doCancel()">Cancel</a>
    </div>
</form>


