<mat-card>
    <mat-card-content>
        <div>
            <div class="upload-info">
                <mat-card-title>Uploaded AIRAC</mat-card-title>
                <mat-card-subtitle [class]="activeStatus === 'failed' ? 'error' : 'success'">{{ activeFileName || '' }}</mat-card-subtitle>
            </div>
            <div>
                <mat-action-row>
                    <input ngModel #fileInput style="display: none" class="form-control" accept=".zip" type="file" (change)="onChange($event)">
                    <button mat-raised-button [disabled]="loading" color="primary" (click)="fileInput.click()" class="select-file-btn">
                        {{ file?.name || 'Select (*.zip)' }}
                    </button>
                    <button mat-raised-button [disabled]="loading" (click)="onUpload()" class="md-margin mat-button">
                        Go
                    </button>
                </mat-action-row>
            </div>
        </div>
        <mat-progress-bar mode="buffer" color="accent" *ngIf="loading"></mat-progress-bar>
    </mat-card-content>
</mat-card>
