@import '~@angular/material/theming';

mat-card-content {
    padding: 16px;

    > div {
        padding-top: 20px;
        text-align: center;

        mat-card-subtitle {
            &.error {
                color: red;
            }
        }

        mat-action-row {
            display: flex;
            justify-content: center;
            margin-bottom: 16px;

            button {
                vertical-align: middle;
                display: block;

                &.select-file-btn {
                    margin-right: 8px;
                    max-width: 124px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            mat-spinner {
                width: 40px;
                height: 40px;
            }
        }
    }
}
