<mat-card>
    <app-table-grid
        (paramsChanged)="handlePageEvent($event)"
        [length]="totalResults"
        [displayedColumns]="displayedColumns"
        [itemTemplate]="itemTemplate"
        [dataSource]="dataSource">
        <div title>
            <h1><mat-icon>flight</mat-icon>Aircrafts Types</h1>
            <a mat-button mat-raised-button color="primary" [routerLink]="'/views/aircraft-types/new'">Create</a>
        </div>
    </app-table-grid>
</mat-card>

<ng-template let-item #itemTemplate>
    <ng-container [ngSwitch]="item.column">
        <div *ngSwitchCase="'image'" class="image-wrapper">
            <img [src]="getImagePath(item.value)" alt="">
        </div>
        <div *ngSwitchDefault>
            <a class="link" href="javascript:void(0)" [routerLink]="'/views/aircraft-types/' + item.row.id">{{item.value}}</a>
        </div>
    </ng-container>
</ng-template>
