<mat-card>
    <app-table-grid
        (paramsChanged)="handlePageEvent($event)"
        [length]="totalResults"
        [displayedColumns]="displayedColumns"
        [itemTemplate]="itemTemplate"
        [dataSource]="dataSource">
        <div title>
            <h1><mat-icon>flight</mat-icon>All aircrafts</h1>
            <a mat-button mat-raised-button color="primary" [routerLink]="'/views/aircraft-list/new'">Create</a>
        </div>
    </app-table-grid>
    <ng-template let-item #itemTemplate>
        <div>
            <a class="link" href="javascript:void(0)" [routerLink]="'/views/aircraft-list/' + item.row.id">{{item.value}}</a>
        </div>
    </ng-template>
</mat-card>
