<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    <span>{{ authService.loggedInUser?.email.charAt(0).toUpperCase() }}</span>
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
  <button mat-menu-item (click)=" authService.logout()" >
    <mat-icon>exit_to_app</mat-icon>
    Sign Out
  </button>
</mat-menu>

