<ng-container [ngSwitch]="component">
    <div *ngSwitchCase="'text'">
        <app-reactive-form-input
            [fieldName]="fieldName"
            [setting]="setting"
            [control]="control"
            [type]="component"
            [data]="data">
        </app-reactive-form-input>
    </div>
    <div *ngSwitchCase="'number'">
        <app-reactive-form-input
            [fieldName]="fieldName"
            [setting]="setting"
            [control]="control"
            [type]="component"
            [data]="data">
        </app-reactive-form-input>
    </div>
    <div *ngSwitchCase="'select'">
        <app-reactive-form-select
            [fieldName]="fieldName"
            [setting]="setting"
            [control]="control"
            [type]="component"
            [data]="data">
        </app-reactive-form-select>
    </div>
    <div *ngSwitchCase="'checkbox'">
        <app-reactive-form-checkbox
            [fieldName]="fieldName"
            [setting]="setting"
            [control]="control"
            [type]="component"
            [data]="data">
        </app-reactive-form-checkbox>
    </div>
    <div *ngSwitchCase="'checkbox-group'">
        <app-reactive-form-checkbox-group
            [fieldName]="fieldName"
            [setting]="setting"
            [control]="control"
            [type]="component"
            [data]="data">
        </app-reactive-form-checkbox-group>
    </div>
    <div *ngSwitchCase="'image'">
        <app-reactive-form-image
            [fieldName]="fieldName"
            [setting]="setting"
            [control]="control"
            [type]="component"
            [onUpload]="setting.onUpload"
            [data]="data">
        </app-reactive-form-image>
    </div>
    <div *ngSwitchCase="'calendar'">
        <app-reactive-form-calendar
            [fieldName]="fieldName"
            [setting]="setting"
            [control]="control"
            [type]="component"
            [data]="data">
        </app-reactive-form-calendar>
    </div>
    <div *ngSwitchDefault>
        <div style="margin: 16px 0; padding: 16px; border: solid 1px #CCC; border-radius: 4px">Type {{ component }} not implemented yet</div>
    </div>
</ng-container>
