<mat-list-item [disableRipple]="true" appAccordionLink *ngIf="menuItem" routerLinkActive="selected" group="{{menuItem.state}}">
    <ng-container *ngIf="!menuItem.children">
        <a class="" [routerLink]="'/' + menuItem.state">
            <mat-icon>{{ menuItem.icon }}</mat-icon>
            <span>{{ menuItem.name }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
        </a>
    </ng-container>
    <ng-template [ngIf]="menuItem.children">
        <a (click)="toggleAccordion()">
            <mat-icon>{{ menuItem.icon }}</mat-icon>
            <span>{{ menuItem.name }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuItem.badge">{{ badge.value }}</span>
            <mat-icon *ngIf="accordionOpened">keyboard_arrow_up</mat-icon>
            <mat-icon *ngIf="!accordionOpened">keyboard_arrow_down</mat-icon>
        </a>
        <ng-container *ngIf="accordionOpened">
            <app-menu-item [menuItem]="child" *ngFor="let child of menuItem.children"></app-menu-item>
        </ng-container>
    </ng-template>
</mat-list-item>
