mat-card {
    mat-card-content {
        .action-row {
            display: flex;
            align-items: center;

            mat-form-field {
                max-width: 60%;
            }

            .action-buttons-wrapper {
                padding-bottom: 1.25em;
                margin-left: auto
            }
        }
    }
}
