<mat-card>
    <app-table-grid
        (paramsChanged)="handlePageEvent($event)"
        [length]="totalResults"
        [displayedColumns]="displayedColumns"
        [itemTemplate]="itemTemplate"
        [dataSource]="dataSource">
        <div title>
            <h1><mat-icon>flight_takeoff</mat-icon> Airports</h1>
            <a mat-button mat-raised-button color="primary" [routerLink]="'/views/airports/new'">Create</a>
        </div>
    </app-table-grid>
    <ng-template let-item #itemTemplate>
        <ng-container [ngSwitch]="item.column">
            <div *ngSwitchDefault>
                <a class="link" href="javascript:void(0)" [routerLink]="'/views/airports/' + item.row.id">{{item.value}}</a>
            </div>
        </ng-container>
    </ng-template>
</mat-card>
