:host {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 30vh 0;
    width: 20vw;
    margin: 0 auto;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: flex-end;
}
