<div class="container">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput placeholder="Username" formControlName="userName">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
                <div class="button">
                    <button type="submit" mat-flat-button color="primary">Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

