<mat-card>
    <app-table-grid
        (paramsChanged)="handlePageEvent($event)"
        [length]="totalResults"
        [displayedColumns]="displayedColumns"
        [itemTemplate]="itemTemplate"
        [dataSource]="dataSource">
        <div title>
            <h1><mat-icon>device_unknown</mat-icon>Bank of questions: {{ route.snapshot.paramMap.get('type') }} {{ route.snapshot.paramMap.get('acType') ?? '' }}</h1>
            <a mat-button mat-raised-button color="primary" [routerLink]="'/views/bank-question/new'">Create</a>
        </div>
    </app-table-grid>
    <ng-template let-item #itemTemplate>
        <div>
            <a class="link" href="javascript:void(0)" [routerLink]="'/views/bank-question/edit/' + item.row.id">{{item.value}}</a>
        </div>
    </ng-template>
</mat-card>
