<div fxLayout="row wrap">
  <div fxFlex.gt-lg="65" fxFlex.gt-md="65" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-lg="35" fxFlex.gt-md="35" fxFlex.gt-xs="100" fxFlex="100">
    <app-airac-upload></app-airac-upload>
  </div>
</div>
