<mat-card>
    <mat-card-content>
        <mat-card-title>
            <h1 *ngIf="id">Aircraft: {{ aircraft?.registration }} ({{ aircraft?.icao }})</h1>
            <h1 *ngIf="!id">New aircraft</h1>
        </mat-card-title>
        <div class="aircraft-stats" *ngIf="id && aircraft?.stats">
            <mat-card class="stat-card" *ngFor="let stat of aircraft.stats | keyvalue">
                <mat-card-header>
                    <mat-card-title>{{ stat.key }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ stat.value }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Service</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <app-reactive-form
            [settings]="formSettings"
            (submitted)="updateAircraftState($event)"
            (cancelled)="back()"
            *ngIf="aircraft"
            [validators]="aircraftValidators"
            [dataSource]="aircraft">
        </app-reactive-form>
    </mat-card-content>
</mat-card>
