.aircraft-stats {
    display: flex;
    flex-wrap: wrap;

    .stat-card {
        border: solid 1px #CCCCCC;
        text-align: center;
        width: calc(100% / 6 - 25px);
        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
