<mat-card>
    <mat-card-content>
        <mat-card-title>
            <ng-content select="[title]"></ng-content>
        </mat-card-title>

        <mat-table [dataSource]="dataSource" style="width: 100%" class="table-dark">
            <ng-container>
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                <mat-header-cell *matHeaderCellDef> {{ column }}</mat-header-cell>
                <mat-cell *matCellDef="let item">
                    <ng-container *ngIf="itemTemplate">
                        <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: {row: item, column: column, value: item[column]}}">
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!itemTemplate">{{item[column]}}</ng-container>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
    <mat-paginator (page)="handlePageEvent($event)"
                   [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[15, 25, 50]"
                   [pageIndex]="pageIndex"
                   aria-label="Select page">
    </mat-paginator>
</mat-card>
