<mat-card>
    <mat-card-content>
        <mat-card-title>
            <h1 *ngIf="id">Aircraft type: {{ aircraftType?.icao }}</h1>
            <h1 *ngIf="!id">New aircraft type</h1>
        </mat-card-title>
        <app-reactive-form
            [settings]="formSettings"
            (submitted)="updateType($event)"
            (cancelled)="back()"
            *ngIf="aircraftType"
            [validators]="aircraftTypeValidators"
            [dataSource]="aircraftType">
        </app-reactive-form>
    </mat-card-content>
</mat-card>
