<mat-card>
    <mat-card-content>
        <mat-card-title>
            <h1 *ngIf="id">Question: {{ question?.id }}</h1>
            <h1 *ngIf="!id">New bank question</h1>
        </mat-card-title>
        <app-reactive-form
            [settings]="formSettings"
            (changed)="updateQuestionValue($event)"
            *ngIf="question"
            [dataSource]="question">
        </app-reactive-form>

        <h2>Options: </h2>
        <div class="options-container">
            <div *ngFor="let option of questionOptions;let optionIndex=index;" class="option-form-wrapper">
                <app-reactive-form
                    (changed)="updateQuestionOptionValue(optionIndex, $event)"
                    [settings]="questionOptionsFormSettings"
                    [dataSource]="option">
                </app-reactive-form>
            </div>
        </div>
        <div class="actions">
            <button mat-raised-button type="submit" color="primary" (click)="updateQuestionState()">Submit</button>
            <a href="javascript:void(0)" class="ml-2" mat-raised-button type="button" (click)="back()">Cancel</a>
        </div>
    </mat-card-content>
</mat-card>
