mat-card-content {
    .options-container {
        display: flex;
        flex-wrap: wrap;

        .option-form-wrapper {
            background-color: #FFF;
            padding: 16px;
            border: solid 1px #DDD;
            margin-top: 8px;
            margin-right: 16px;
            border-radius: 8px;
            width: calc(33.3% - 11px);
            box-shadow: 5px 4px 11px 1px rgba(199, 199, 199, 0.6784313725);
        }

        .option-form-wrapper:nth-child(3n) {
            margin-right: 0;
        }
    }
    .actions {
        margin-top: 24px;
        a {
            margin-left: 16px;
        }
    }
}

@media screen and (max-width: 1516px) {
    mat-card-content {
        .options-container {
            .option-form-wrapper {
                width: calc(50% - 8px);
            }

            .option-form-wrapper:nth-child(3n) {
                margin-right: 16px;
            }

            .option-form-wrapper:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    mat-card-content {
        .options-container {
            .option-form-wrapper {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}

