<mat-card>
    <form [formGroup]="filterForm">
        <div class="d-flex" style="padding: 24px">
            <mat-form-field>
                <mat-label>Aircraft type</mat-label>
                <mat-select formControlName="aircraftType">
                    <mat-option [value]="aircraftType" *ngFor="let aircraftType of availableAircraftTypes">
                        {{ aircraftType }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="airports">
                <mat-label>From</mat-label>
                <input type="text"
                       placeholder="Start typing"
                       matInput
                       formControlName="from"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let airport of filteredFromAirports | async" [value]="airport.icao">
                        {{ airport.icao }}: {{ airport.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field *ngIf="airports">
                <mat-label>To</mat-label>
                <input type="text"
                       placeholder="Start typing"
                       matInput
                       formControlName="to"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let airport of filteredToAirports | async" [value]="airport.icao">
                        {{ airport.icao }}: {{ airport.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="d-flex" style="justify-content: center">
            <button mat-raised-button mat-flat-button [disabled]="loading" (click)="submitFilter()" >Show</button>
        </div>
    </form>
    <app-table-grid
        (paramsChanged)="handlePageEvent($event)"
        [length]="totalResults"
        [displayedColumns]="displayedColumns"
        [dataSource]="dataSource"
        [itemTemplate]="itemTemplate">
        <div title>
            <h1><mat-icon>route</mat-icon> Routes</h1>
        </div>
    </app-table-grid>
    <ng-template let-item #itemTemplate>
        <a class="link" href="javascript:void(0)" [routerLink]="'/views/routes/' + item.row.id">{{item.value}}</a>
    </ng-template>
</mat-card>

<ng-template let-item #itemTemplate>
    <ng-container [ngSwitch]="item.column">
        <div *ngSwitchDefault>
            <a class="link" href="javascript:void(0)" [routerLink]="'/views/route/' + item.row.id">{{item.value}}</a>
        </div>
    </ng-container>
</ng-template>
